<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <!-- <default>
        <blog>
            <general>
                <enabled>1</enabled>
                <display_text>AHT Blog Module Text</display_text>
            </general>
        </Blog>
    </default> -->

    <default>
    <section>
        <group>
            <field>{value}</field>
        </group>
    </section>
</default>

</config>
